<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>
            test
        </h1>
        <div>
            {{ .URL.Param }}
            <br />
            {{ .Request.RequestURI }}
            <br />
            <form method="POST" action="/test/asdf">
                <input name="inputfield" />
                <select multiple name="selection">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
            </form>
        </div>
    </body>
</html>